* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #f9fafc;
}

.chirpuslogo {
  float: left;
  margin: 30px;
}


.navlist {
  font-size: 16px;
  float: right;
  margin: 30px;
}

ul {
  display: inline;
}

li {
  display: inline;
  margin: 5px;
}

a {
  font-size: 16px;
  padding: 10px 24px;
  text-decoration: none;
  color: #69696a;
}

.button1 {
  height: 20px;
  width: 80px;
  background-color: #000;
  border-radius: 20px;
  color: #f9fafc;
  clear: both;
}


.containerleft {
  float: left;
  width: 50%;
}

.chirpusheader {
  font-family: 'Open Sans', sans-serif;
  margin-top: 100px;
  margin-left: 30px;
}

p {
  color: #69696a;
  font-style: normal;
  font-size: 14px;
  width: 500px;
  margin-left: 30px;
  border-left: 2.5px solid #69696a;
  padding-left: 15px;
}

.container-right {
  float: right;
  width: 50%;
  margin-top: 120px;
}


.circle-pink {
  background-color: rgba(247, 136, 167, 0.6);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: -60px;
  margin-bottom: 0px;
  margin-left: 150px;
  position: relative;
  display: inline-block;
}

.circle-purple {
  background-color: rgba(207, 130, 213, 0.6);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 120px;
  margin-left: 0px;
  position: relative;
  display: inline-block;
}

.circle-tan {
  background-color: rgba(247, 193, 162, 0.7);
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin-top: -150px;
  margin-right: 100px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: relative;
  float: right;
}

.button2 {
  font-size: 16px;
  padding: 10px 24px;
  height: 20px;
  width: 100px;
  background-color: #000;
  border-radius: 20px;
  color: #f9fafc;
  text-align: center;
  text-decoration: none;
  float: center;
  display: block;
  clear: both;
  margin-left: 45%;
}
